@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.container-landing {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw !important;
  height: 100vh !important;
  background-color: #FA4224;
}

.container-landing .title {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
}

.container-landing .title span {
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
}

@media (min-width: 852px) {
  .container-landing .title {
    padding: 15px;
    width: 48vw;
  }
  .container-landing .title span {
    color: #fff;
    font-family: 'Permanent Marker', cursive;
    font-size: 10rem;
  }
}